body{
    font-family: arial;
    font-size: 12pt;
    font: black;
}

table{
    height: 30px;
    border-collapse: collapse;

}

td {
    height: 40px;
    padding: 10px;
}

tr {
    height: 10px;
    
}

th{
    background-color: green;
    color: white;
}

